# ignore all 
*

# But descend into directories (needed?)
# !*/

# ddev providers
!/.ddev/providers/backwpupfile.yaml

# ddev config (uncomment if you want to share it in your project)
# !/.ddev/config.yaml

# wp-config for ddev (overrides)
# !/wp-config-ddev.php

# but not child theme, unignore pattern 
# (first unignore, than ignore all but specific folders again)
# TODO: is there an easier way?
!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/twentytwentyone-child

# except gitignore
!.gitignore

# except README & License
!/README.md
!/LICENSE
