# ignore all 
*

# But descend into directories
!*/

# ddev providers
!.ddev/providers/backwpupfile.yaml

# wp-config for ddev (overrides)
# !/wp-config-ddev.php

# but not child theme, unignore pattern 
# (first unignore, than ignore all but specific folders again)
!/wp-content/
/wp-content/**
!/wp-content/themes/
/wp-content/themes/**
!/wp-content/themes/twentytwenty-child-theme/

# except gitignore
!.gitignore

# except README
!/README.md